 <div style="position: relative; left: 8%;">
 <h1 style="font-size: 40px;"><b>Microsoft Offcampus Internship Opportunity</b></h1>
<br>
ADVERTISMENT<br>

<div style="width: 700px;">
    <app-job></app-job>    
</div>
<br>ADVERTISEMENT<br>

<div class="button_cont" ><a class="linkbtn" href="link1000" target="_blank" rel="nofollow noopener">Link for microsoft internship</a></div>
<br>
ADVERTISEMENT<br>
</div>
<h1 style="position: relative; left: 8%;">Other Internship Opportunities</h1> 
<div style="width: 500px;">
    <app-internshipcontent></app-internshipcontent>
</div>