<link rel = "stylesheet" 
href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<div style="position: relative; left: 8%;">
 <h1 style="font-size: 40px;"><b>Microsoft Offcampus Internship Opportunity</b></h1>
<br>
ADVERTISMENT<br>

<div>
    <app-job class = "col-md-7"></app-job>    
</div>
<div class="row">
<br>ADVERTISEMENT<br>
<br><br><br><br><br><br><br><br><br><br><br>ADVERTISEMENT<br><br><br><br><br><br><br><br><br>ADVERTISEMENT<br><br><br><br><br><br><br><br><br><br><br><br>
</div>
<div class="button_cont" ><a class="linkbtn" href="link1000" target="_blank" rel="nofollow noopener">Link for microsoft internship</a></div>
<br>
ADVERTISEMENT<br>
</div>
<h1 style="position: relative; left: 8%;">Other Internship Opportunities</h1> 
<div >
    <app-internshipcontent style="position: relative; left: -13%;"></app-internshipcontent>
</div>