<!-- resume -->
<div >
    <h1>How to Pick the Right Resume Format?</h1><br>
    There are three types of resume formats: reverse chronological, functional or skills-based, and a combination of the two. The choice depends on the type of job you are applying for and your level of experience.
<br>
The 3 resume formats are:
<br>
1) Reverse chronological resume format - This is the most popular resume format and is ideal for people with plenty of work experience that is relevant to the position they’re interested in.
<br>
2) Functional/skills-based resume format – If you lack relevant work experience because you are a student/recent graduate, or you are looking to make a career change, the skills-based format is a better choice.
<br>
3) Combination resume format – The combination resume is a great choice for job-seekers with a very diverse skill-set. It’s useful if you’re applying for a role that requires expertise in 3-4 different fields, and
<br> you want to show all that in your resume. Say, for example, you’re applying for a senior management role, and the requirements are expertise in Management, Sales, and Software Development.
<br>
So, which one do you go for?
<br>
In 90%+ cases, you’d want to stick to the reverse-chronological resume format. This is the most common one, and most HR managers are used to this. Hence, in this guide, we’re going to focus on this specific format.
<br>
    <h1>How To Prepare for a Job Interview</h1>
    1. Review the job description<br>
    2. Consider your eligibility for the job<br>
    3. Learn more about the company<br>
    4. Prepare a list of expected interview questions<br>
    5. Practice mock interviews<br>
    6. Organise your documents<br>
    7. Update your social media profile<br>
    8. Make travel arrangements<br>
    9. Decide on your interview dress<br>
</div>
