<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet"> 

<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="200px"
            nzheight ="fit-content"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
             style="position: fixed;">
    <div class="sidebar-logo">
      <a (click)="isCollapsed = !isCollapsed" > 
        <!-- target="_blank" -->
        
        <img src="https://img.icons8.com/material-outlined/24/000000/menu--v4.png"/>
        <!-- <h1 style="font-family: 'Anton', sans-serif; font-size: 20px;">HulkGeeks</h1> -->
      </a>
    </div>
    <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Latest Opportunites " nzIcon="aim">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a href="#"[routerLink]="['/home']" [routerLinkActive]="['is-active']">Home</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a href="#"[routerLink]="['/internship_opportunities']" [routerLinkActive]="['is-active']">Internship Opportunites</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a href="#"[routerLink]="['/placement']" [routerLinkActive]="['is-active']">Full time Opportunites</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a href="#"[routerLink]="['/free_courses']" [routerLinkActive]="['is-active']">Free Courses</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a href="#"[routerLink]="['/government_opportunities']" [routerLinkActive]="['is-active']">Government Jobs</a>
          </li>
          
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header style="position: fixed;">
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-fold' : 'menu-unfold'"
            ></i>
            <img class= "logo" src="\assets\DrivoGeek-logos.jpeg" alt="">
          </span>
        </div>
    </nz-header>
    <nz-content >
      <div class="inner-content">
        <router-outlet >

        <br><br>
        </router-outlet>
      </div>
    </nz-content>
    <a href="https://chat.whatsapp.com/GMlcLL9Yr5p7GL7DnhBGnL"><img class="whatsapp" src="https://png.pngtree.com/element_our/sm/20180626/sm_5b321c99945a2.jpg" alt="" style="height: 100px;width: 100px;position: fixed; left: 90%;top: 85%; "></a>
  </nz-layout>
</nz-layout>
