<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
<link rel = "stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet"> 

<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="200px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            
             >
    <div class="sidebar-logo">
      <a (click)="isCollapsed = !isCollapsed" > 
        <!-- target="_blank" -->
                
        <h1 style="font-family: 'Anton', sans-serif; font-size: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DrivoGeek</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Latest Opportunites " nzIcon="aim">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a href="#"[routerLink]="['/home']" [routerLinkActive]="['is-active']">Home</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a href="#"[routerLink]="['/internship_opportunities']" [routerLinkActive]="['is-active']">Internship Opportunites</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a href="#"[routerLink]="['/placement']" [routerLinkActive]="['is-active']">Full time Opportunites</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a href="#"[routerLink]="['/free_courses']" [routerLinkActive]="['is-active']">Free Courses</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a href="#"[routerLink]="['/government_opportunities']" [routerLinkActive]="['is-active']">Government Jobs</a>
          </li>
          
        </ul>
      </li>
    </ul>
    <div class="floating">
    <a  href="https://chat.whatsapp.com/GMlcLL9Yr5p7GL7DnhBGnL"><img class="whatsapp" src="https://cdn2.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2-free/128/social-whatsapp-circle-512.png" alt="" style="height: 100px;width: 100px;position: fixed; top: 70%;" ></a>
  </div>
  </nz-sider>
  <nz-layout>
    <nz-header style="position: fixed;">
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-fold' : 'menu-unfold'"
            ></i>
            <img class= "logo" src="\assets\DrivoGeek Logo(5).png" alt="">
          </span>
        </div>
    </nz-header>
    <nz-content >
      <div class="inner-content">
        <router-outlet >

        <br><br>
        </router-outlet>
      </div>
    </nz-content>
    <!-- <a href="https://chat.whatsapp.com/GMlcLL9Yr5p7GL7DnhBGnL"><img class="whatsapp" src="https://www.kindpng.com/picc/m/19-195256_whatsapp-icon-whatsapp-logo-jpg-download-hd-png.png" alt="" style="height: 100px;width: 100px;position: fixed; top: 80%;" ></a> -->
  </nz-layout>
</nz-layout>
