<link rel = "stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<div style="position: relative; left: 1%;" class="row">
  ADVERTISEMENT
  <br><br>
  <div style="font-family: 'Roboto', sans-serif;" class="col-md-9"><b>
      Welcome to DrivoGeeks. A perfect place for a student and a working professional...Do join our telegram channel and
      the whatsapp group to stay updated.</b>
    <br>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">


    <div class="first hero">
      <img class="hero-profile-img" src="https://miro.medium.com/max/1300/1*EZn2o1HupExZVxDouzvWjQ.jpeg" alt="">
      <div class="hero-description-bk"></div>
      <!-- <div class="hero-logo">
         <img src="https://image.shutterstock.com/image-vector/internship-concept-vector-illustration-banner-600w-665304586.jpg" alt="">
       </div> -->
      <div class="hero-description">
        <p>INTERNSHIP OPPORTUNITY</p>
      </div>
      <div class="hero-btn">
        <a href="#" [routerLink]="['/internship_opportunities']" [routerLinkActive]="['is-active']">Explore</a>
      </div>
    </div>

    <div class="second hero">
      <img class="hero-profile-img"
        src="https://images.unsplash.com/photo-1487528278747-ba99ed528ebc?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cmVjcnVpdG1lbnR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
        alt="">
      <div class="hero-description-bk"></div>
      <!-- <div class="hero-logo">
         <img src="https://miscmedia-9gag-fun.9cache.com/images/thumbnail-facebook/1557291375.3948_Dy2yZu_n.jpg" alt="">
       </div> -->
      <div class="hero-description">
        <p>PLACEMENT CELL</p>
      </div>
      <div class="hero-btn">
        <a href="#" [routerLink]="['/placement']" [routerLinkActive]="['is-active']">Explore</a>
      </div>
    </div>
    <br> ADVERTISEMENT<br>

    <div class="first hero">
      <img class="hero-profile-img"
        src="https://images.unsplash.com/photo-1516534775068-ba3e7458af70?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGZyZWUlMjBjb3Vyc2VzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
        alt="">
      <div class="hero-description-bk"></div>
      <!-- <div class="hero-logo">
        <img src="https://image.shutterstock.com/image-vector/internship-concept-vector-illustration-banner-600w-665304586.jpg" alt="">
      </div> -->
      <div class="hero-description">
        <p>FREE COURSES</p>
      </div>
      <div class="hero-btn">
        <a href="#" [routerLink]="['/free_courses']" [routerLinkActive]="['is-active']">Explore</a>
      </div>
    </div>

    <div class="second hero">
      <img class="hero-profile-img"
        src="https://images.unsplash.com/photo-1532375810709-75b1da00537c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aW5kaWFuJTIwZ292ZXJubWVudHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
        alt="">
      <div class="hero-description-bk"></div>
      <!-- <div class="hero-logo">
        <img src="https://miscmedia-9gag-fun.9cache.com/images/thumbnail-facebook/1557291375.3948_Dy2yZu_n.jpg" alt="">
      </div> -->
      <div class="hero-description">
        <p>GOVERNMENT JOBS</p>
      </div>

      <div class="hero-btn">
        <a href="#" [routerLink]="['/government_opportunities']" [routerLinkActive]="['is-active']">Explore</a>
      </div>
    </div>
  </div>
    <br> ADVERTISEMENT<br>

  <h1 style="position:fixed; bottom:1%;"> ADVERTISEMENT</h1>