
<section class="cards-wrapper">
    <div class="card-grid-space">
      
      <a class="card" href="job1000" style="--bg-img: url(https://cdn.builtinseattle.com/sites/www.builtinseattle.com/files/styles/ckeditor_optimize/public/inline-images/shutterstock_1357496909.jpg)">
        <div>
          <h1 style="color: white;">Microsoft Internship 2021</h1>
          <p>Software Engineer Inter</p>
          
          <div class="tags">
            <div class="tag"><a href="job1000">APPLY NOW</a></div>
          </div>
        </div>
      </a>
    </div>
    
      <div class="card-grid-space">
        
        <a class="card" href="job1000" style="--bg-img: url(https://cdn.builtinseattle.com/sites/www.builtinseattle.com/files/styles/ckeditor_optimize/public/inline-images/shutterstock_1357496909.jpg)">
          <div>
            <h1 style="color: white;">Microsoft Internship 2021</h1>
            <p>Software Engineer Inter</p>
            
            <div class="tags">
              <div class="tag"><a href="job1000">APPLY NOW</a></div>
            </div>
          </div>
        </a>
      </div>
      <div class="card-grid-space">
        
        <a class="card" href="job1000" style="--bg-img: url(https://cdn.builtinseattle.com/sites/www.builtinseattle.com/files/styles/ckeditor_optimize/public/inline-images/shutterstock_1357496909.jpg)">
          <div>
            <h1 style="color: white;">Microsoft Internship 2021</h1>
            <p>Software Engineer Inter</p>
            
            <div class="tags">
              <div class="tag"><a href="job1000">APPLY NOW</a></div>
            </div>
          </div>
        </a>
      </div>
      <div class="card-grid-space">
        
        <a class="card" href="job1000" style="--bg-img: url(https://cdn.builtinseattle.com/sites/www.builtinseattle.com/files/styles/ckeditor_optimize/public/inline-images/shutterstock_1357496909.jpg)">
          <div>
            <h1 style="color: white;">Microsoft Internship 2021</h1>
            <p>Software Engineer Inter</p>
            
            <div class="tags">
              <div class="tag"><a href="job1000">APPLY NOW</a></div>
            </div>
          </div>
        </a>
      </div>
      <div class="card-grid-space">
        
        <a class="card" href="job1000" style="--bg-img: url(https://cdn.builtinseattle.com/sites/www.builtinseattle.com/files/styles/ckeditor_optimize/public/inline-images/shutterstock_1357496909.jpg)">
          <div>
            <h1 style="color: white;">Microsoft Internship 2021</h1>
            <p>Software Engineer Inter</p>
            
            <div class="tags">
              <div class="tag"><a href="job1000">APPLY NOW</a></div>
            </div>
          </div>
        </a>
      </div>
      <div class="card-grid-space">
        
        <a class="card" href="job1000" style="--bg-img: url(https://cdn.builtinseattle.com/sites/www.builtinseattle.com/files/styles/ckeditor_optimize/public/inline-images/shutterstock_1357496909.jpg)">
          <div>
            <h1 style="color: white;">Microsoft Internship 2021</h1>
            <p>Software Engineer Inter</p>
            
            <div class="tags">
              <div class="tag"><a href="job1000">APPLY NOW</a></div>
            </div>
          </div>
        </a>
      </div>
    <!-- https://images.unsplash.com/photo-1520839090488-4a6c211e2f94?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=38951b8650067840307cba514b554ba5&auto=format&fit=crop&w=1350&q=80 -->
  </section>